<div class="container center" id="contact" materialize="scrollSpy" [materializeParams]="[{scrollOffset:0}]">
  <h3>Contact</h3>
  <h2 class="orange-text accent-3">Us</h2>
  <hr>
</div>
<div class="row">
  <div class="col s12 xl6">
    <form>
      <div class="input-field">
        <input type="text" placeholder="Name">
      </div>
      <div class="input-field">
        <input type="email" placeholder="Email">
      </div>
      <div class="input-field">
        <input type="text" placeholder="Phone">
      </div>
      <div class="input-field">
        <textarea class="materialize-textarea" placeholder="Enter Message"></textarea>
      </div>
      <input type="submit" value="Submit" class="btn">
    </form>
  </div>
  <div class="col s12 xl6 location">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAkI6OtQyyKYZ6UrWwZ1KxzgNq8VumoygA
        &q=place_id:ChIJ88mHhT-uEmsRhg1Z9Lrl9Z4" allowfullscreen>
    </iframe>
  </div>
</div>
