<footer class="page-footer valign-wrapper orange accent-3">
  <div class="container center">
    <a href="#">
      <i class="fab fa-twitter fa-2x"></i>
    </a>
    <a href="#">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a href="#">
      <i class="fab fa-facebook-f fa-2x"></i>
    </a>
    <a href="#">
      <i class="fab fa-linkedin-in fa-2x"></i>
    </a>
    <div>
      <p>122 King St, Sydney - (02) 4242 1214</p>
    </div>
    <div class="copywrite">
        &copy; 2018 Foodies
    </div>
  </div>

</footer>
