<nav class="hide-on-med-and-down">
  <div class="nav-wrapper grey darken-4">
    <div class="container">
      <a href="#" class="brand-logo left">
        <i class="fas fa-utensils"></i>
        <span class="orange-text accent-3">Foodies</span>
      </a>

      <ul id="nav-mobile" class="right">
        <li>
          <i class="fas fa-map-marker-alt fa-2x"></i>
        </li>
        <li class="border-right">
          <span class="orange-text accent-3">122 King St
            <br> Sydney</span>
        </li>
        <li>
          <i class="fas fa-at fa-2x"></i>
        </li>
        <li class="border-right">
          <span class="orange-text accent-3">(02) 4242 1214
            <br> food@foodies.com.au</span>
        </li>
        <li>
          <i class="far fa-clock fa-2x"></i>
        </li>
        <li>
          <span class="orange-text accent-3">Tue - Sun
            <br> 12pm - 22pm</span>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
</div>
