<nav class="nav-center" role="navigation">
  <div class="nav-wrapper orange accent-3">
    <div class="container">
      <ul id="nav-mobile" class="hide-on-med-and-down">
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">Menu</a>
        </li>
        <li>
          <a href="">Recomended</a>
        </li>
        <li>
          <a href="">Book A Table</a>
        </li>
        <li>
          <a href="">About Us</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
