<div class="container">
  <div class="col s12 xl6">
    <div class="card horizontal">
      <div class="card-image">
        <img src="assets/img/menu/meat/meat1.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">Big Burger<span class="right">$21</span></span>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, odio.</p>
        </div>
      </div>
    </div>
  </div>
<div class="col s12 xl6">
    <div class="card horizontal">
      <div class="card-image">
        <img src="assets/img/menu/meat/meat2.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">The Surprise <span class="right">$23</span></span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quas.. </p>
        </div>
      </div>
    </div>
  </div>
<div class="col s12 xl6">
    <div class="card horizontal">
      <div class="card-image">
        <img src="assets/img/menu/meat/meat3.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">Spaghetti Bolognese <span class="right">$21</span></span>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, aliquid.</p>
        </div>
      </div>
    </div>
  </div>
<div class="col s12 xl6">
    <div class="card horizontal">
      <div class="card-image">
        <img src="assets/img/menu/meat/meat4.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">Sirloin Steak<span class="right">$28</span></span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, sit.</p>
        </div>
      </div>
    </div>
  </div>
<div class="col s12 xl6">
    <div class="card horizontal">
      <div class="card-image">
        <img src="assets/img/menu/meat/meat5.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">Tenderloin Steak <span class="right">$26</span></span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, officiis?</p>
        </div>
      </div>
    </div>
  </div>
<div class="col s12 xl6">
    <div class="card horizontal">
      <div class="card-image">
        <img src="assets/img/menu/meat/meat6.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">Rib Eye Steak <span class="right">$29</span></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, maxime. </p>
        </div>
      </div>
    </div>
  </div>

</div>
