<div class="container">
    <div class="col s12 xl6">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/img/menu/fish/fish1.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">Sushi<span class="right">$21</span></span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, odio.</p>
          </div>
        </div>
      </div>
    </div>
  <div class="col s12 xl6">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/img/menu/fish/fish2.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
              <span class="card-title">Hot Prawns <span class="right">$23</span></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quas.. </p>
          </div>
        </div>
      </div>
    </div>
  <div class="col s12 xl6">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/img/menu/fish/fish3.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
              <span class="card-title">Grilled Salmon <span class="right">$21</span></span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, aliquid.</p>
          </div>
        </div>
      </div>
    </div>
  <div class="col s12 xl6">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/img/menu/fish/fish4.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
              <span class="card-title">Salmon Sashimi <span class="right">$28</span></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, sit.</p>
          </div>
        </div>
      </div>
    </div>
  <div class="col s12 xl6">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/img/menu/fish/fish5.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
              <span class="card-title">Mussels Bowl<span class="right">$26</span></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, officiis?</p>
          </div>
        </div>
      </div>
    </div>
  <div class="col s12 xl6">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/img/menu/fish/fish6.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
              <span class="card-title">Fish Skewer <span class="right">$29</span></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, maxime. </p>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  