<div class="container">
    <div class="col s12 xl6">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/img/menu/dessert/dessert1.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">Fruit cheesecake<span class="right">$12</span></span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, odio.</p>
          </div>
        </div>
      </div>
    </div>
  <div class="col s12 xl6">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/img/menu/dessert/dessert2.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
              <span class="card-title">Caramel Slice <span class="right">$13</span></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quas.. </p>
          </div>
        </div>
      </div>
    </div>
  <div class="col s12 xl6">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/img/menu/dessert/dessert3.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
              <span class="card-title">Mixed Fruit <span class="right">$10</span></span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, aliquid.</p>
          </div>
        </div>
      </div>
    </div>
  <div class="col s12 xl6">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/img/menu/dessert/dessert4.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
              <span class="card-title">Caramel Decadence <span class="right">$14</span></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, sit.</p>
          </div>
        </div>
      </div>
    </div>
  <div class="col s12 xl6">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/img/menu/dessert/dessert5.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
              <span class="card-title">Crêpe <span class="right">$12</span></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, officiis?</p>
          </div>
        </div>
      </div>
    </div>
  <div class="col s12 xl6">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/img/menu/dessert/dessert6.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
              <span class="card-title">Blueberry cheesecake <span class="right">$12</span></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, maxime. </p>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  