<div class="container center" id="recomended" materialize="scrollSpy" [materializeParams]="[{scrollOffset:0}]">
    <h3>Chef's</h3>
    <h2 class="orange-text accent-3">Recomendations </h2>
    <hr>
  </div>
<div class="container">
  <div class="slider" materialize="slider" [materializeParams]="[{full_width: true, indicators: false, height:300, interval: 3000}]">
    <ul class="slides">
      <li>
        <div class="card horizontal">
          <div class="card-image">
            <img src="assets/img/menu/recomended/meat4.jpg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title">Sirloin Steak</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, sit.</p>
              <span class="right">$28</span>
            </div>
          </div>
        </div>
      </li>
      <li>
          <div class="card horizontal">
              <div class="card-image">
                <img src="assets/img/menu/recomended/vegan2.jpg">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title">The Surprise</span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quas.. </p>
                  <span class="right">$23</span>
                </div>
              </div>
            </div>
      </li>
      <li>
          <div class="card horizontal">
              <div class="card-image">
                <img src="assets/img/menu/recomended/fish5.jpg">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title">Mussels Bowl</span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, officiis?</p>
                  <span class="right">$26</span>
                </div>
              </div>
            </div>
      </li>
     
    </ul>
  </div>
</div>
